<h2 class="centered-element">
  <img src="/static/images/logo-circle.png" height="80" alt="Logseq Template Gallery Logo" /> 
  <a href="/" class="align-middle">Logseq Template Gallery</a>
</h2>

<nav class="navbar navbar-expand-lg bg-light mb-2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/popular">Popular Templates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recent">Most Recent Templates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all">All Templates</a>
        </li>
        <li class="nav-item">
          <a href="/share">
            <button class="btn btn-outline-dark ms-2 me-2" type="button">
              <span class="inline-icon share-icon"></span>
              Share a Template
            </button>
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search" method="GET" action="/search">
        <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search" value="<%= (typeof query == 'undefined' ? '' : query) %>">
        <button class="btn btn-outline-dark" type="submit">
          <span class="inline-icon search-icon"></span>
        </button>
      </form>
    </div>
  </div>
</nav>