<!doctype html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="dark-theme">
    <div class="container">
      <%- include('../partials/nav'); %>

      <div class="row">
        <div class="col-md-12">
            <h2>About Logseq Template Gallery</h2>
            <p>Logseq Template Gallery is a community where <a href="https://www.logseq.com" target="_blank">Logseq</a> users can share templates they find useful with other members of the community.</p>
            <p>
              To use this website, you'll first want to <a href="https://github.com/logseq/logseq/releases" target="_blank">download</a> and install Logseq and familiarize yourself with how to use it.
              Templates are reusable notes that let you quickly capture structured nodes in your Logseq graph.  You can learn more about templates 
              <a href="https://hub.logseq.com/features/av5LyiLi5xS7EFQXy4h4K8/how-to-create-and-use-templates-in-logseq/uiwhKfyFJrG7mdrkopjuAG" target="_blank">here</a>.
            </p>
            <p>
              The best way to use the templates on this site is to install the <b>Logseq Template Gallery Plugin</b>, which can be found in the Plugins Marketplace inside of Logseq.  Enter "Template Gallery" into the search field to find and install the plugin.
              Once you have the plugin installed you share your templates with the community and easily install plugins from this site directly into Logseq.
            </p>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    
</body>
</html>
