<!doctype html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<%- include('../partials/analytics'); %>
<body class="dark-theme">
    <div class="container">
      <%- include('../partials/nav'); %>

      <div class="row">
        <div class="col-md-12">
            <h2>Share a Template</h2>
            <p>
              To share a template with the community, you'll need to install the <b>Logseq Template Gallery Plugin</b> in the Logseq Marketplace.  
            </p>
            <ol>
                <li>
                    Open the
                    <svg stroke="currentColor" fill="none" width="16" class="icon-apps" stroke-width="2" stroke-linejoin="round" viewBox="0 0 24 24" stroke-linecap="round" height="16"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="4" width="6" height="6" rx="1"></rect><rect x="4" y="14" width="6" height="6" rx="1"></rect><rect x="14" y="14" width="6" height="6" rx="1"></rect><line x1="14" y1="7" x2="20" y2="7"></line><line x1="17" y1="4" x2="17" y2="10"></line></svg>
                <b>Plugins</b> page in Logseq from the More menu in the top-left corner.</li>
                <li> Click on the <b>Marketplace</b> button.</li>
                <li>Type <i>Template Gallery</i> into the search field.</li>
                <li>Install the <img src="/static/images/logo-circle.png" height="26" alt="Logseq Template Gallery Logo" /> <b>Logseq Template Gallery</b> Plugin.</li>
                <li>Open the gallery by clicking the <img src="/static/images/toolbar-icon.png" height="20" class="mx-1" alt="Logseq Plugin Gallery Toolbar Icon" /> icon in the toolbar.</li>
            </ol>
            <p>
                <a href="/about">More about</a> the Logseq Template Gallery
            </p>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    
</body>
</html>
